.page {
  position: relative;
  max-width: rem(1920);
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: rem(1230);
  padding: 0 rem(15);
  margin: 0 auto;
}

.main {
  position: relative;
}