:root {
  --margin-fixed: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 13px;

  &.is-show {
    overflow: hidden;
  }

  @media (min-width: $md) {
      font-size: 14px;
  }

  @media (min-width: $lg) {
      font-size: 14.5px;
  }

  @media (min-width: $xl) {
      font-size: 15px;
  }

  @media (min-width: $exl) {
      font-size: 16px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $main-text-color;
  outline: none;
  background-color: #29313a;
}

ul {
  padding: 0;
  margin: 0;
}

*:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $main-text-color;
  transition: .2s;
}