.text-wrapper {
  text-align: center;
  padding-bottom: rem(70);
}

.section {
  position: relative;
  z-index: 2;
  width: 100%;

  &--padding-exl {
    padding: rem(50) 0;
  }

  &--padding-xl {
    padding: rem(50) 0;
  }

  &--padding-lg {
    padding: rem(50) 0;
  }

  @media (min-width: $lg) {
    &--padding-exl {
      padding: rem(120) 0 rem(119) 0;
    }

    &--padding-xl {
      padding: rem(120) 0 rem(80) 0;
    }

    &--padding-lg {
      padding: rem(120) 0 rem(100) 0;
    }
  }

  &--purple {
    background-color: #505393;
  }

  &--green {
    background-color: #20b3a6;
  }
}

.card {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #2b343d;
  }
}

.card-icons {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}



