.top-section {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: 978 / 1920 * 100%;
  text-align: center;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
  }

  &__title {
    display: inline-block;
    position: relative;
    font-size: rem(35);
    line-height: rem(61.25);
    letter-spacing: rem(7.875);
    color: $main-text-color;
    text-transform: uppercase;
    font-weight: 800;
    padding: rem(12.25) rem(35);
    margin-bottom: rem(35);

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;

    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;

    }
  }

  &__text {
    display: block;
    width: 100%;
    letter-spacing: rem(4.5);
    line-height: rem(33);
    text-transform: uppercase;
    color: $main-text-color;
    font-weight: inherit;
    font-size: rem(20);
    margin: 0 0 rem(40) 0;

    a {
      text-decoration: none;
      color: $main-text-color;
      border-bottom: dotted 1px;
    }
  }

  &__scroll {
    position: absolute;
    bottom: rem(23);
    left: 50%;
    transform: translate(-54%, -50%);

    span {
      font-size: rem(16);
      display: block;
      margin-bottom: rem(21);
      text-transform: uppercase;
      letter-spacing: rem(3.6);
    }

    i {
      color: $main-text-color;
      font-size: rem(32);
    }
  }
}

.diamond-section {
  position: relative;
  z-index: 2;
  width: 100%;

  &--green {
    background-color: #20b3a6;
  }

  &--padding {
    padding: rem(120) 0 rem(80) 0;
  }
}

.rubin {
  position: relative;

  &__wrapper {
    text-align: center;
    padding-top: rem(18);
    padding-bottom: rem(60);

    ul  {
      list-style: none;
    }
  }

  &__square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1c9d91;
    border-radius: rem(3);
    width: rem(40);
    height: rem(40);
    transform: rotate(45deg);
    margin-right: rem(70);
    padding:  40px 40px;

    &:last-child {
      margin-right: 0;
    }

    &--green {
      i {
        color: #00fecc;
      }
    }

    &--blue {
      i {
        color: #01f0ff;
      }
    }

    i {
      transform: rotate(-45deg);
      font-size: rem(42);
    }
  }
}

.card-section {
  @extend .diamond-section;
}

.card {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #2b343d;
  }

  &__item {
    $card-img-color: #242b33;
    $card-img-opacity: 0;
    $card-img-qty: 3;

    display: flex;
    align-items: center;
    width: 100%;
    min-height: rem(543);

    @for $i from 0 to $card-img-qty {
      $card-img-opacity: ($i+1)/$card-img-qty;
      &:nth-child(#{$i+1}) {
        background-color: rgba($card-img-color, $card-img-opacity);
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .card__text {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__img {
    width: 39.9%;
    height: 100%;
    min-height: rem(543);
    overflow: hidden;
    font-size: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    width: 60.1%;
  }

  &__text {
    max-width: rem(768);
    padding: rem(105) rem(16) rem(2) rem(80.5);
  }
}

.card-icon-section {
  @extend .diamond-section;

  &--purple {
    background-color: #505393;
  }

  &--padding {
    @extend .diamond-section--padding;
  }
}

.card-icon {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: rem(39);
  }

  &__item {
    $card-icon-color: #3f4173;
    $card-icon-opacity: 0;
    $card-icon-qty: 6;

    display: inline-flex;
    max-width: 50%;
    padding: rem(82) rem(80) rem(80) rem(50);

    @for $i from 0 to $card-icon-qty {
      $card-icon-opacity: ($i+1)/$card-icon-qty;
      &:nth-child(#{$i+1}) {
        background-color: rgba($card-icon-color, $card-icon-opacity);
      }
    }

    i {
      font-size: rem(35);
      margin-right: rem(35);
      color: #00fecc;
    }

    &:first-child {
      border-top-left-radius: 3px;
    }

    &:nth-child(2) {
      border-top-right-radius: 3px;
    }

    &:nth-last-child(2) {
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
    }
  }

  &__text-block {
    display: block;
    margin-top: rem(5);
  }

  &__title {
    display: block;
    font-size: rem(23);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: rem(5.175);
    margin-bottom: rem(30);
  }

  &__text {
    font-weight: 300;
    font-size: rem(20);
    line-height: rem(33);
    letter-spacing: rem(1.2);
    margin-bottom: rem(40);
  }
}

.action-section {
  @extend .diamond-section;

  &--padding {
    padding: rem(70) 0 rem(52) 0;
  }
}

.action {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: rem(900);
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }

  &__text-body {
    width: 70%;
  }

  &__text {
    max-width: rem(720);
    padding: rem(50) rem(50) rem(2) rem(1);
  }

  &__buttons {
    display: flex;
    width: 30%;
    flex-direction: column;
  }
}



