.footer {
  position: relative;
  z-index: 2;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(29, 36, 42, 1);
    padding: rem(50) rem(20);

    @media (min-width: $lg) {
      background-color: rgba(29, 36, 42, 0.9);
      padding: rem(123) rem(20) rem(52) rem(20);
    }
  }

  &__social {
    display: flex;
    list-style: none;
    margin-bottom: rem(61);

    li {
      margin-right: rem(30);

      &:last-child {
        margin-right: 0;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #909294;
        text-decoration: none;
        width: rem(26);
        height: rem(26);
        transition: .2s;
        padding: rem(5);

        &:active,
        &:focus {
          color: #909294;
        }

        &:hover {
          color: #fff;
        }

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: rem(26);
          height: 100%;
          font-size: rem(26);
        }
      }
    }
  }

  &__copyright {
    display: flex;
    list-style: none;
    color: #909294;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;

    @media (min-width: $lg) {
      flex-direction: row;
      text-align: left;
    }

    li {
      border-left: none;
      margin-left: 0;
      padding-left: 0;
      padding-bottom: rem(20);
      line-height: rem(16);
      font-size: rem(16);
      letter-spacing: rem(3.6);

      &:first-child {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      @media (min-width: $lg) {
        border-left: solid 1px rgba(255, 255, 255, 0.5);
        margin-left: rem(16);
        padding-left: rem(16);
        padding-bottom: 0;

        &:last-child {
          padding-bottom: rem(0);
        }
      }

      a {
        color: #909294;
        text-decoration: none;
        border-bottom: dotted 1px;
      }
    }
  }
}
