.footer {
  position: relative;
  z-index: 2;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(29, 36, 42, 0.9);
    padding:  rem(123) rem(20) rem(52) rem(20);
  }

  &__social {
    display: flex;
    list-style: none;
    margin-bottom:  rem(61);
    color: #909294;

    li {
      margin-right:  rem(35);

      &:last-child {
        margin-right: 0;
      }

      i {
        font-size: rem(26);
      }
    }
  }

  &__copyright {
    display: flex;
    list-style: none;
    color: #909294;
    text-transform: uppercase;

    li {
      border-left: solid 1px rgba(255, 255, 255, 0.5);
      margin-left: rem(16);
      padding-left: rem(16);
      line-height: rem(16);
      font-size: rem(16);
      letter-spacing: rem(3.6);

      &:first-child {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }

      a {
        color: #909294;
        text-decoration: none;
        border-bottom: dotted 1px;
      }
    }
  }
}